$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent: #2196f3;
$background-color: #ffffff;
$secondary-background: #2f303a;
$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
